#mv-preview-outer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 5px;
  margin: 0;
  z-index: 100001;
  line-height: 40px;
  color: #FFFFFF;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  pointer-events: none;
  width: 155px;
}

#mv-preview-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #F15C28;
  opacity: 0.75;
}

#mv-preview-inner {
  position: relative;
  text-align: right;
}

#mv-preview-logo {
  height: 29px;
  width: 75px;
  position: fixed;
  bottom: 5px;
  right: 75px;
}
